
# Syntax overrides for files not automatically highlighted by GitHub/GitLab

.inputrc                linguist-language=Readline
.lesskey                linguist-language=Shell
.moprc                  linguist-language=Shell
.rc                     linguist-language=Shell
.screenrc               linguist-language=Shell
.xbindkeysrc            linguist-language=Scheme
.Xmodmap                linguist-language=Xresources
.Xresources             linguist-language=Xresources
.xscreensaver           linguist-language=INI
conky/confs/*.conf      linguist-language=Lua
default.pa*             linguist-language=Shell
feh/keys.example        linguist-language=Properties
feh/themes              linguist-language=Properties
fonts/local.conf        linguist-language=XML
pacman.d/hooks/*.hook   linguist-language=INI
picom.conf              linguist-language=C
tlp.conf                linguist-language=Shell
user-dirs.defaults      linguist-language=Shell
user-dirs.dirs          linguist-language=Shell
vifmrc                  linguist-language=VimL

