# /etc/systemd/system/tmux@.service

[Unit]
Description=Start tmux in detached session
After=graphical-session.target

[Service]
Type=forking
User=%I
# WARNING: use %I instead of %u here; %u=root in system services.
ExecStart=/usr/bin/tmux new-session -s %I -d
ExecStop=/usr/bin/tmux kill-session -t %I

[Install]
#WantedBy=multi-user.target
WantedBy=graphical-session.target
