[Desktop Entry]
Encoding=UTF-8
Version=0.6.4
Type=Application
Name=conkykiller
Comment=restart conkies
Exec=sh -c "sleep 20; /home/jsn/bin/conkykiller.sh &"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

